{% extends '::order:detail:view' %}

{% block order_content %}

	<section class="container-content">
		<section class="repeatable-group">
				{% if not dispatches is empty %}
					{% for dispatch in dispatches %}
						{% include '::order:detail:dispatch:detail' %}
					{% endfor %}
				{% else %}
					<p>{{ 'ms.commerce.order.dispatch.none'|trans }}</p>
				{% endif %}
			</section>
	</section>
{% endblock %}