{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	{{ render(controller('::Controller:Order:Order#sidebar')) }}
{% endblock %}

{% block main %}
	{{ render(controller('::Controller:Order:Tabs#create', { 'orderId': order.id } )) }}


	<section class="container-content">
		<section class="repeatable-group" id="order-details">
			<h2>Order Details</h2>
			<div class="container">
				<section class="group">
					<h1 class="title">General</h1>
					<ul class="file-details">
						<li><span>Order-Id</span>1</li>
						<li><span>Created at </span> by </li>
						<li><span>Updated at</span> by</li>
						<li><span>Shipping Method </span></li>
					</ul>


					<section class="group">
						<h1 class="title">Currency Details</h1>
						<ul class="file-details">
							<li><span>Type</span>1</li>
							<li><span>Size</span>34389</li>
							<li><span>Dimenions</span>260 x 300</li>
							<li><span>Uploaded By</span>Danny Hannah at July 29, 2013 13:33</li>
						</ul>
					</section>

					<section class="group">
						<h1 class="title">Production Price Details</h1>
						<ul class="file-details">
							<li><span>Type</span>1</li>
							<li><span>Size</span>34389</li>
							<li><span>Dimenions</span>260 x 300</li>
							<li><span>Uploaded By</span>Danny Hannah at July 29, 2013 13:33</li>
						</ul>
					</section>

					<section class="group">
						<h1 class="title">Total Price Details</h1>
						<ul class="file-details">
							<li><span>Type</span>1</li>
							<li><span>Size</span>34389</li>
							<li><span>Dimenions</span>260 x 300</li>
							<li><span>Uploaded By</span>Danny Hannah at July 29, 2013 13:33</li>
						</ul>
					</section>
				</section>	
			</div>
		</section>

		<section id="item-summary">
			{{ render(controller('::Controller:Order:Item#itemSummary', { 'orderId': order.id } )) }}
		</section>

		<section id="address-summary">
			{{ render(controller('::Controller:Order:Address#addressSummary', { 'orderId': order.id } )) }}
		</section>
{% endblock %}