<h2 class="title">Created by {{ document.authorship.createdBy }} at {{ document.authorship.createdAt|date }}</h2>
<div class="content-wrap">
	<ul class="order-details">
		<li>
			<span>Document</span>
			<a href="{{ url('ms.commerce.order.document.print', {documentID: document.id}) }}">Print</a>
		</li>
		<li>
			<span>Type</span>
			{{ document.type }}
		</li>
	</ul>
</div>