{% extends 'Message:Mothership:ControlPanel::_templates/cp' %}
{% block javascripts %}
	{{ parent() }}
	{% javascripts
		'@Message:Mothership:Commerce::resources/assets/js/product-create.js'

		output='/assets/js/ms_product_create.js'
		filter=''
	%}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
{% block content %}
<hgroup class="title">
	<h1>Add a new product</h1>
</hgroup>
<div class="container-content create-product">
	<form action="/">
		<section class="group">
			<h1 class="title">Information</h1>
			<div class="content">
				<div class="field required">
					<label for="name">Name</label>
					<input type="text" id="name" placeholder="Enter product name">
				</div>
				<div class="field required">
					<label for="brand">Brand</label>
					<input type="text" id="brand" placeholder="e.g. Addidas, Nike, Barbour..">
				</div>
				<div class="field required">
					<label for="category">Category</label>
					<input type="text" id="category" class="example-category" placeholder="category">
				</div>
				<h2>Variants</h2>
				<div class="variants">
					<a class="button small add add-variant">{{ 'ms.commerce.product.button.variant' | trans }}</a>
					<div class="variant-options"></div>
					<div class="options" id="units">
					</div>
				</div>
				<div class="field required">
					<label for="category">Price</label>
					<input type="text" id="category" class="example-category" placeholder="Price">
				</div>
				<div class="field required">
					<label for="short-description">Short description</label>
					<textarea name="short-description" id="" cols="30" rows="10"></textarea>
				</div>
			</div>
		</section>
		<div class="save-content">
			<a href="#" class="button small save">
				{{ 'ms.commerce.product.button.create'|trans }}
			</a>
		</div>
	</form>
</div>
<div class="container-content complete">
	<div class="wrap">
		<h1><span class="tick animated"></span>Product created</h1>
		<a href="/admin/product/" class="small button">
			Continue editing product
		</a>
		<a href="/admin/product/create" class="small button">
			Create similar product
		</a>
		<a href="/admin/product/create" class="small button">
			Create new product
		</a>
	</div>
</div>

{% endblock %}