<div class="complete-hide hidden">
<div class="container-content complete">
	<div class="wrap">
		<h1><span class="tick animated"></span>Product created</h1>
		<a href="/admin/product/{ productID }" class="small button continue-edit">
			Continue editing product
		</a>
		<a href="/admin/product/create" class="small button create-similar">
			Create similar product
		</a>
		<a href="/admin/product/create" class="small button create-new">
			Create new product
		</a>
	</div>
</div>
</div>