{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}
{% block sidebar %}
	{{ render(controller('Message:Mothership:Commerce::Controller:Product:Sidebar#index', {'productID':product.id}))}}
{% endblock %}
{% block main %}
<hgroup class="title">
	<h1>Add a new product</h1>
</hgroup>
<div class="container-content create-product">
	<form action="/">
		<section class="group">
			<h1 class="title">Information</h1>
			<div class="content">
				<div class="field required">
					<label for="name">Name</label>
					<input type="text" id="name" placeholder="Name">
				</div>
				<div class="field required">
					<label for="brand">Brand</label>
					<input type="text" id="brand" placeholder="Brand">
				</div>
			</div>
		</section>
		<button type="submit" class="button small save" id="save-content">
			{{ 'ms.commerce.product.button.create'|trans }}
		</button>
	</form>
</div>

{% endblock %}