<div class="complete-modal">
<div class="complete">
	<div class="wrap">
		<h1><span class="tick animated"></span>Product created</h1>
		<a href="{{ url('ms.commerce.product.edit.attributes', {'productID' : productID}) }}" class="small button continue-edit">
			Continue editing product
		</a>
		<span href="/admin/product/create" class="small button create-similar" data-modal-close>
			Create similar product
		</span>
		<a href="/admin/product/create" class="small button create-new">
			Create new product
		</a>
	</div>
</div>
</div>