{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}
{% block sidebar %}
	{{ render(controller('Message:Mothership:Commerce::Controller:Product:Sidebar#index', {'productID':product.id}))}}
{% endblock %}
{% block main %}
	<div class="dashboard">
		<h1>All Products</h1>
		<table>
			<colgroup>
				<col width="100">
                <col width="50">
                <col>
                <col width="225">
                <col width="125">
                <col width="125">
                <col width="300">
            </colgroup>
			<thead>
				<tr>
					<th>ID</th>
					<th>Photo</th>
					<th>Name</th>
					<th>Catagory</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Actions</th>
				</tr>
				<tr class="sort">
					<td>
						<input type="text" placeholder="Filter ID">
					</td>
					<td>
						-
					</td>
					<td>
						<input type="text" placeholder="Filter name">
					</td>
					<td>
						<input type="text" placeholder="Filter catagory">
					</td>
					<td>
						<input type="text" placeholder="Filter price">
					</td>
					<td>
						<input type="text" placeholder="Filter Qty">
					</td>
					<td>
						-
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>203 series</td>
					<td>M-line</td>
					<td>&pound;280.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>203 series</td>
					<td>M-line</td>
					<td>&pound;280.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>203 series</td>
					<td>M-line</td>
					<td>&pound;280.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>203 series</td>
					<td>M-line</td>
					<td>&pound;280.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>203 series</td>
					<td>M-line</td>
					<td>&pound;280.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>203 series</td>
					<td>M-line</td>
					<td>&pound;280.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>203 series</td>
					<td>M-line</td>
					<td>&pound;280.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>203 series</td>
					<td>M-line</td>
					<td>&pound;280.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>203 series</td>
					<td>M-line</td>
					<td>&pound;280.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>203 series</td>
					<td>M-line</td>
					<td>&pound;280.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>203 series</td>
					<td>M-line</td>
					<td>&pound;280.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}