{% extends 'Message:Mothership:ControlPanel::_templates/cp' %}
{% block content %}
<hgroup class="title">
	<h1>Products</h1>
	<div class="controls">
		<a href="{{ url('ms.commerce.product.create')}}" class="button small create product" data-live>Add a new product</a>
		<a href="#" class="button small create product" data-live>Import products</a>
	</div>
</hgroup>
	<div class="container-content">
		<table class="table-filter products">
			<colgroup>
				<col width="100">
                <col width="50">
                <col>
                <col width="225">
                <col width="125">
                <col width="125">
                <col width="300">
            </colgroup>
			<thead>
				<tr>
					<th>ID</th>
					<th data-disable>Photo</th>
					<th>Name</th>
					<th>Catagory</th>
					<th>Price</th>
					<th>Quantity</th>
					<th data-disable>Actions</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>ID</th>
					<th>-</th>
					<th>Name</th>
					<th>Catagory</th>
					<th>Price</th>
					<th>Qty</th>
					<th>-</th>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<td>1</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>104 series</td>
					<td>M-line</td>
					<td>&pound;170.00</td>
					<td>347</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>301 series</td>
					<td>M-line</td>
					<td>&pound;0.00</td>
					<td>0</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>3</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>202 series</td>
					<td>M-line</td>
					<td>&pound;220.00</td>
					<td>83</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>4</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>103 series</td>
					<td>M-line</td>
					<td>&pound;120.00</td>
					<td>138</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>5</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>302 series</td>
					<td>M-line</td>
					<td>&pound;620.00</td>
					<td>203</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>6</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>203 series</td>
					<td>M-line</td>
					<td>&pound;280.00</td>
					<td>100</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>7</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>151 series</td>
					<td>C-line</td>
					<td>&pound;180.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>8</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>152 series</td>
					<td>C-line</td>
					<td>&pound;220.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>9</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>251 series</td>
					<td>C-line</td>
					<td>&pound;390.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>10</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>351 series</td>
					<td>C-line</td>
					<td>&pound;530.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>11</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>Wrapped leather strap</td>
					<td>Straps</td>
					<td>&pound;30.00</td>
					<td>11</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>12</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>Premium leather strap</td>
					<td>Straps</td>
					<td>&pound;50.00</td>
					<td>71</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>13</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>Rubber strap</td>
					<td>Straps</td>
					<td>&pound;15.00</td>
					<td>536</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>14</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>Tapered stitched strap strap</td>
					<td>Straps</td>
					<td>&pound;40.00</td>
					<td>58</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>15</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>Calf leather</td>
					<td>Straps</td>
					<td>&pound;60.00</td>
					<td>231</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>16</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>Nbr rubber</td>
					<td>Straps</td>
					<td>&pound;60.00</td>
					<td>101</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>17</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>Gift voucher</td>
					<td>Gifting</td>
					<td>&pound;280.00</td>
					<td>9999</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>18</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>Gift wrap</td>
					<td>Gifting</td>
					<td>&pound;280.00</td>
					<td>9999</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>19</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>Legacy</td>
					<td>Gifting</td>
					<td>&pound;280.00</td>
					<td>9999</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>20</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>351 series edition</td>
					<td>Editions</td>
					<td>&pound;750.00</td>
					<td>45</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>21</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>02:00 : Michael Spolijaric</td>
					<td>Prints</td>
					<td>&pound;65.00</td>
					<td>2</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>22</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>02:50 : Martin Nicolausson</td>
					<td>Prints</td>
					<td>&pound;65.00</td>
					<td>12</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>23</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>04:00 : Marius Roosendaal</td>
					<td>Prints</td>
					<td>&pound;65.00</td>
					<td>39</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>24</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>06:00 : James Joyce</td>
					<td>Prints</td>
					<td>&pound;65.00</td>
					<td>99</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>25</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>06:30 : Anthony Burrill</td>
					<td>Prints</td>
					<td>&pound;65.00</td>
					<td>1</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>26</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>08:00 : Jack Featherstone</td>
					<td>Prints</td>
					<td>&pound;65.00</td>
					<td>9</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>27</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>11:03 : Hellovon</td>
					<td>Prints</td>
					<td>&pound;65.00</td>
					<td>11</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>28</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>14:15 : Ed Ward</td>
					<td>Prints</td>
					<td>&pound;65.00</td>
					<td>32</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>29</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>14:36 : Michael Hernan</td>
					<td>Prints</td>
					<td>&pound;65.00</td>
					<td>9</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>30</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>14:49 : Erica Dorn</td>
					<td>Prints</td>
					<td>&pound;65.00</td>
					<td>72</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>31</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>17:36 : Stone &amp; Spear</td>
					<td>Prints</td>
					<td>&pound;65.00</td>
					<td>20</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>32</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>21:00 : Craig &amp; Karl</td>
					<td>Prints</td>
					<td>&pound;65.00</td>
					<td>14</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}