{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}
{% block sidebar %}
	{{ render(controller('Message:Mothership:Commerce::Controller:Product:Sidebar#index', {'productID':product.id}))}}
{% endblock %}
{% block main %}
<hgroup class="title">
	<h1>Add products</h1>
</hgroup>
	<div class="dashboard">
		<table class="table-filter products">
			<colgroup>
				<col width="100">
                <col width="50">
                <col>
                <col width="225">
                <col width="125">
                <col width="125">
                <col width="300">
            </colgroup>
			<thead>
				<tr>
					<th>ID</th>
					<th>Photo</th>
					<th>Name</th>
					<th>Catagory</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>ID</th>
					<th>-</th>
					<th>Name</th>
					<th>Catagory</th>
					<th>Price</th>
					<th>Qty</th>
					<th>-</th>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<td>1</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>104 series</td>
					<td>M-line</td>
					<td>&pound;280.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>203 series</td>
					<td>M-line</td>
					<td>&pound;280.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>3</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>351 series</td>
					<td>M-line</td>
					<td>&pound;280.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>4</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>203 series</td>
					<td>M-line</td>
					<td>&pound;280.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>5</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>203 series</td>
					<td>M-line</td>
					<td>&pound;280.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>6</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>152 series</td>
					<td>M-line</td>
					<td>&pound;280.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>7</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>151 series</td>
					<td>M-line</td>
					<td>&pound;280.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>8</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>203 series</td>
					<td>M-line</td>
					<td>&pound;280.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>9</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>302 series</td>
					<td>M-line</td>
					<td>&pound;480.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>10</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>302 series</td>
					<td>M-line</td>
					<td>&pound;480.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
				<tr>
					<td>11</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>351 series</td>
					<td>M-line</td>
					<td>&pound;280.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
						<a href="#" class="button small delete">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}