{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	{{ render(controller('Message:Mothership:Commerce::Controller:Product:Sidebar#index', {'productID':product.id}))}}
{% endblock %}

{% block main %}
	<div class="dashboard">
		<div class="modules">
			{% for reference in dashboardReferences %}
				{{ render(controller(reference.reference)) }}
			{% else %}
				<div class="container-content">
					<p>I don't have any flashy graphs and numbers to show you :(</p>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}