{% extends 'Message:Mothership:ControlPanel::_templates/cp' %}
{% block content %}
	<hgroup class="title">
		<h1>Products</h1>
		<div class="controls">
			<a href="{{ url('ms.commerce.product.create')}}" class="button small create product" data-live>Add a new product</a>
			<a href="#" class="button small create product" data-live>Import products</a>
		</div>
	</hgroup>
	<div class="container-content">
		<table class="table-filter products">
			<colgroup>
				<col width="100">
                <col width="50">
                <col>
                <col>
                <col width="125">
                <col width="125">
                <col width="175">
                <col width="100">
            </colgroup>
			<thead>
				<tr>
					<th>ID</th>
					<th class="disable">Photo</th>
					<th>Name</th>
					<th>Category</th>
					<th>Retail Price</th>
					<th>Stock</th>
					<th class="disable"></th>
					<th class="disable"></th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>ID</th>
					<th>-</th>
					<th>Name</th>
					<th>Catagory</th>
					<th>Retail Price</th>
					<th>Stock</th>
					<th class="a-center"><a href="#" class="clear-filters">Clear filters</a></th>
					<th><a href="#" class="button small remove">Delete</a></th>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<td>1</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td><a href="#" class="click">104 Series</a></td>
					<td>M-line</td>
					<td>&pound;170.00</td>
					<td>347</td>
					<td>
						<a href="http://richard:2000/admin/product/edit/1" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>301 series</td>
					<td>M-line</td>
					<td>&pound;0.00</td>
					<td>0</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>3</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>202 series</td>
					<td>M-line</td>
					<td>&pound;220.00</td>
					<td>83</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>4</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>103 series</td>
					<td>M-line</td>
					<td>&pound;120.00</td>
					<td>138</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>5</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>302 series</td>
					<td>M-line</td>
					<td>&pound;620.00</td>
					<td>203</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>6</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>203 series</td>
					<td>M-line</td>
					<td>&pound;280.00</td>
					<td>100</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>7</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>151 series</td>
					<td>C-line</td>
					<td>&pound;180.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>8</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>152 series</td>
					<td>C-line</td>
					<td>&pound;220.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>9</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>251 series</td>
					<td>C-line</td>
					<td>&pound;390.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>10</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>351 series</td>
					<td>C-line</td>
					<td>&pound;530.00</td>
					<td>171</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>11</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>Wrapped leather strap</td>
					<td>Straps</td>
					<td>&pound;30.00</td>
					<td>11</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>12</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>Premium leather strap</td>
					<td>Straps</td>
					<td>&pound;50.00</td>
					<td>71</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>13</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>Rubber strap</td>
					<td>Straps</td>
					<td>&pound;15.00</td>
					<td>536</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>14</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>Tapered stitched strap strap</td>
					<td>Straps</td>
					<td>&pound;40.00</td>
					<td>58</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>15</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>Calf leather</td>
					<td>Straps</td>
					<td>&pound;60.00</td>
					<td>231</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>16</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>Nbr rubber</td>
					<td>Straps</td>
					<td>&pound;60.00</td>
					<td>101</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>17</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>Gift voucher</td>
					<td>Gifting</td>
					<td>&pound;280.00</td>
					<td>9999</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>18</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>Gift wrap</td>
					<td>Gifting</td>
					<td>&pound;280.00</td>
					<td>9999</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>19</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>Legacy</td>
					<td>Gifting</td>
					<td>&pound;280.00</td>
					<td>9999</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>20</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>351 series edition</td>
					<td>Editions</td>
					<td>&pound;750.00</td>
					<td>45</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>21</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>02:00 : Michael Spolijaric</td>
					<td>Prints</td>
					<td>&pound;65.00</td>
					<td>2</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>22</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>02:50 : Martin Nicolausson</td>
					<td>Prints</td>
					<td>&pound;65.00</td>
					<td>12</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>23</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>04:00 : Marius Roosendaal</td>
					<td>Prints</td>
					<td>&pound;65.00</td>
					<td>39</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>24</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>06:00 : James Joyce</td>
					<td>Prints</td>
					<td>&pound;65.00</td>
					<td>99</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>25</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>06:30 : Anthony Burrill</td>
					<td>Prints</td>
					<td>&pound;65.00</td>
					<td>1</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>26</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>08:00 : Jack Featherstone</td>
					<td>Prints</td>
					<td>&pound;65.00</td>
					<td>9</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>27</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>11:03 : Hellovon</td>
					<td>Prints</td>
					<td>&pound;65.00</td>
					<td>11</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>28</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>14:15 : Ed Ward</td>
					<td>Prints</td>
					<td>&pound;65.00</td>
					<td>32</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>29</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>14:36 : Michael Hernan</td>
					<td>Prints</td>
					<td>&pound;65.00</td>
					<td>9</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>30</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>14:49 : Erica Dorn</td>
					<td>Prints</td>
					<td>&pound;65.00</td>
					<td>72</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>31</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>17:36 : Stone &amp; Spear</td>
					<td>Prints</td>
					<td>&pound;65.00</td>
					<td>20</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
				<tr>
					<td>32</td>
					<td><img src="http://placehold.it/50x50" alt=""></td>
					<td>21:00 : Craig &amp; Karl</td>
					<td>Prints</td>
					<td>&pound;65.00</td>
					<td>14</td>
					<td>
						<a href="#" class="button small">Edit</a>
						<a href="#" class="button small">Duplicate</a>
					</td>
					<td class="a-center">
						<input type="checkbox">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="modal">
		<div class="toggle-left">
			<a href="#"></a>
		</div>
		<section class="clear">
			<hgroup class="title">
				<h1>203 Series (Product type)</h1>
				<div class="controls products">
					<button class="button small">Back</button>
					<button class="button small">Duplicate</button>
					<button class="button small delete">Delete</button>
				</div>
			</hgroup>
			<div class="sidebar products">
				<ul class="tabs">
					<li class="active"><a href="http://richard:2000/admin/product/edit/1" data-live="">Attributes</a></li>
					<li class=""><a href="http://richard:2000/admin/product/edit/1/details" data-live="">Details</a></li>
					<li class=""><a href="http://richard:2000/admin/product/edit/1/pricing" data-live="">Pricing</a></li>
					<li class=""><a href="http://richard:2000/admin/product/edit/1/units" data-live="">Units</a></li>
					<li class=""><a href="http://richard:2000/admin/product/edit/1/stock" data-live="">Stock</a></li>
					<li class=""><a href="http://richard:2000/admin/product/edit/1/images" data-live="">Images</a></li>
				</ul>
			</div>
			<section class="container-content products">
				<form method="post" action="/admin/product/edit/1">
				<div class="field required"><label for="product-attributes-edit_name">Name</label><input type="text" id="product-attributes-edit_name" name="product-attributes-edit[name]" required="required" data-help-key="ms.commerce.product.attributes.name.help" value="203 Series"><div class="help"><a href="#product-attributes-edit_name_help" data-show="">Show help</a><div class="description" id="product-attributes-edit_name_help"><p>The 'actual' name of the product. You can enter a different (perhaps shorter) name for display purposes.</p></div></div></div><div class="field required"><label for="product-attributes-edit_display_name">Display Name</label><input type="text" id="product-attributes-edit_display_name" name="product-attributes-edit[display_name]" required="required" data-help-key="ms.commerce.product.attributes.display-name.help" value="203 Series"><div class="help"><a href="#product-attributes-edit_display_name_help" data-show="">Show help</a><div class="description" id="product-attributes-edit_display_name_help"><p>The display name can be different from the 'actual' product name.</p></div></div></div><div class="field required"><label for="product-attributes-edit_category">Category</label><input type="text" id="product-attributes-edit_category" name="product-attributes-edit[category]" required="required" data-help-key="ms.commerce.product.attributes.category.help" value="M-Line"><div class="help"><a href="#product-attributes-edit_category_help" data-show="">Show help</a><div class="description" id="product-attributes-edit_category_help"><p>This is used for grouping products. All products with the same 'category' are linked automatically.</p></div></div></div><div class="field required"><label for="product-attributes-edit_brand">Brand</label><input type="text" id="product-attributes-edit_brand" name="product-attributes-edit[brand]" required="required" data-help-key="ms.commerce.product.attributes.brand.help" value="Uniform Wares"><div class="help"><a href="#product-attributes-edit_brand_help" data-show="">Show help</a><div class="description" id="product-attributes-edit_brand_help"><p>Allows products from multiple brands to be related.</p></div></div></div><div class="field"><label for="product-attributes-edit_season">Season</label><input type="text" id="product-attributes-edit_season" name="product-attributes-edit[season]" data-help-key="ms.commerce.product.attributes.season.help" value="CNTL"><div class="help"><a href="#product-attributes-edit_season_help" data-show="">Show help</a><div class="description" id="product-attributes-edit_season_help"><p>Allows the optional grouping of products into seasons (e.g. Spring, Summer ).</p></div></div></div><div class="field"><label for="product-attributes-edit_year">Year</label><input type="text" id="product-attributes-edit_year" name="product-attributes-edit[year]" data-help-key="ms.commerce.product.attributes.year.help" value="2011"><div class="help"><a href="#product-attributes-edit_year_help" data-show="">Show help</a><div class="description" id="product-attributes-edit_year_help"><p>This can be used to store the year a product originates from.</p></div></div></div><div class="field required"><label for="product-attributes-edit_short_description">Short Description</label><textarea id="product-attributes-edit_short_description" name="product-attributes-edit[short_description]" required="required" data-help-key="ms.commerce.product.attributes.short-description.help" style="height: 166px;">The 203 Series lends stylistic elements from the 103 Series, but pays particular reference to the design and engineering of thickness gauges.</textarea><div class="help"><a href="#product-attributes-edit_short_description_help" data-show="">Show help</a><div class="description" id="product-attributes-edit_short_description_help"><p>A short description of the product which can be used by Mothership for specific display purposes.</p></div></div></div><div class="field"><label for="product-attributes-edit_description">Description</label><textarea id="product-attributes-edit_description" name="product-attributes-edit[description]" data-help-key="ms.commerce.product.attributes.description.help" style="height: 166px;">The new 203 Series is a comprehensive update on the 202 collection with many design details drawn from the 302 Series Chronograph whilst still maintaining reference to the engineering dials it was inspired by. The 40mm two-part case now features a chamfered bezel housing a more powerful Swiss movement with new tail-less second hand and larger date aperture window. Each dial has a unique textured finish and index design, incorporating the striking applique batons from the 300 Series Chronograph.  Each style is now also fitted with one of our premium Italian or British Calf leather straps.</textarea><div class="help"><a href="#product-attributes-edit_description_help" data-show="">Show help</a><div class="description" id="product-attributes-edit_description_help"><p>The main description of the product which can be used by Mothership for specific display purposes.</p></div></div></div><div class="field"><label for="product-attributes-edit_export_description">Export Description</label><textarea id="product-attributes-edit_export_description" name="product-attributes-edit[export_description]" data-help-key="ms.commerce.product.attributes.export-description.help" style="height: 166px;">203 Series Watch, non precious stainless steel case and back, calf leather strap, quartz battery powered Swiss made 4 jewel movement</textarea><div class="help"><a href="#product-attributes-edit_export_description_help" data-show="">Show help</a><div class="description" id="product-attributes-edit_export_description_help"><p>This description of the product is for export purposes and will display on export documentation.</p></div></div></div><input type="hidden" id="product-attributes-edit__csrf_form" name="product-attributes-edit[_csrf_form]" value="6e4657f97fa9f4dc9672824b16d6f46fc2c7cf8b">
				<div class="save-content">
				<a href="#" class="button small save">
				{{ 'ms.commerce.product.button.create'|trans }}
				</a>
				</div>
				</form>
			</section>
		</section>
	</div>
{% endblock %}