{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block content %}
	<hgroup class="title">
		<h1>{{ title is defined ? title : product.name }} (Product type)</h1>
		<div class="controls products">
			<button class="button small">Back</button>
			<button class="button small">Duplicate</button>
			<button class="button small delete">Delete</button>
		</div>
	</hgroup>
	{{ render(controller('Message:Mothership:Commerce::Controller:Product:Tabs#index', {'productID':product.id}))}}
	<section class="container-content products">
		{% block edit %} {% endblock %}
	</section>
{% endblock %}
