{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	{{ render(controller('Message:Mothership:Commerce::Controller:Product:Sidebar#index', {'productID':product.id}))}}
{% endblock %}

{% block main %}
	<hgroup class="title">
		<h1>{{ title is defined ? title : product.name }}</h1>
	</hgroup>
	{{ render(controller('Message:Mothership:Commerce::Controller:Product:Tabs#index', {'productID':product.id}))}}
	<section class="container-content medium">
		{% block edit %} {% endblock %}
	</section>
{% endblock %}
