<p class="oos">
	This product is currently out of stock.
</p>

{{ form_start(replenishedNotificationForm) }}
	{{ form_rest(replenishedNotificationForm) }}
	<button type="submit">Notify me when this product is back in stock</button>
{{ form_end(replenishedNotificationForm) }}