{% form_theme form.unit_id 'Message:Mothership:Commerce::product:product-selector-form' %}

{{ form_start(form) }}
	{{ form_rest(form) }}
	<button type="submit">{{ 'ms.commerce.product.selector.button'|trans }}</button>
{{ form_end(form) }}