<p class="oos">
	Out of stock. Email me when this product is back in stock.
</p>

{{ form_start(replenishedNotificationForm) }}
	<div class="oos-options">{{ form_rest(replenishedNotificationForm) }}</div>
	<button type="submit" class="oos-notify">Notify me</button>
{{ form_end(replenishedNotificationForm) }}