{% extends '::order:detail:view' %}

{% block order_content %}

	<section class="container-content">
		<section class="repeatable-group">
			{% if not items is empty %}
				{% for item in items %}
					{% include '::order:detail:item:detail' %}
				{% endfor %}
			{% else %}
				<p>{{ 'ms.commerce.order.item.none'|trans }}</p>
			{% endif %}
		</section>
	</section>
{% endblock %}