<div class="module landscape">
	<h2 class="title">
		Orders activity (week)
	</h2>
	<div class="wrap">
		<div class="column center">
			<h3 class="small-text">In</h3>
			<h2 class="large-text">{{ orders_in }}</h2>
		</div>
		<div class="column center">
			<h3 class="small-text">Out</h3>
			<h2 class="large-text">{{ orders_out }}</h2>
		</div>
	</div>
</div>