<div class="module sq large">
	<h2 class="title">
		Total sales (week)
	</h2>
	<div class="wrap">
		<h2 class="medium-text">{{ total|price }}</h2>
		<table
			title="Weekly Sales"
			id="sales"
			summary="day"
			data-attc-createChart="true"
			data-attc-colDescription="day"
			data-attc-colValues="amount"
			data-attc-location="salesArea"
			data-attc-hideTable="true"
			data-attc-type="area"
			data-attc-googleOptions='{"is3D":false, "width": "634", "height": 492, "fontSize": 16, "legend": "none", "colors":["#528cb6", "#26537c", "#3f759f", "#999", "#666"], "chartArea":{"top":30,"left":60,"width":"560","height":"431"}}'
			data-attc-controls='{"showHide":false,"create":false,"chartType":false}'
			>
			<thead>
				<tr>
					<th id="day">Day</th>
					<th id="amount">Amount</th>
				</tr>
			</thead>
			<tbody>
				{% for day in days %}
					<tr>
						<td>{{ day.dow }}</td>
						<td>{{ day.net }}</td>
					</tr>
				{% else %}

				{% endfor %}
			</tbody>
		</table>
		<div id="salesArea"></div>
	</div>
</div>