<div class="topbar">
	<ul class="tabs">
	{% for item in items %}
		<li class="{{ item.classes|join(' ') }}"><a href="{{ url(item.target, {orderID: orderID }) }}">{{ item.label|trans }}</a></li>
	{% endfor %}
</ul>
</div>