{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	{{ render(controller('Message:Mothership:Commerce::Controller:Order:OrderDetail#sidebar', { 'orderID': order.id } )) }}
{% endblock %}
 
{% block main %}


	<hgroup class="title">
		<h1>{{ 'Order'|trans }} {{ order.id }}</h1>
	</hgroup>

	{{ render(controller('Message:Mothership:Commerce::Controller:Order:OrderDetail#tabs', { 'orderID': order.id } )) }}
	
	{% block order_content %}
	{% endblock %}

{% endblock %}