{% extends '::order:detail:order-detail-view' %}

{% block order_content %}
	<div class="container-content">
		<section class="repeatable-group">
			{% include '::order:detail:order-overview:detail' %}
		</section>

		<section>
			{{ render(controller('::Controller:Order:Item#summary', { 'orderID': order.id } )) }}
		</section>

		<section>
			{{ render(controller('::Controller:Order:Address#summary', { 'orderID': order.id } )) }}
		</section>

		<section>
			{{ render(controller('::Controller:Order:Metadata#summary', { 'orderID': order.id } )) }}
		</section>
	</div>
{% endblock %}