* {
	font-size: 7pt;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
	float: left;
	margin: 0;
	padding: 0;
}

.page {
	float: left;
	width: 210mm;
	height: 297mm;
	border-top: 10.75mm solid #FFF;
	border-left: 5mm solid #FFF;
	border-right: 5mm solid #FFF;
	overflow: hidden;
	padding: 0;
	margin: 0;
	clear: both;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.label {
	width: 20%;
	float: left;
	height: 21mm;
	overflow: hidden;
	border-left: 1mm solid #fff;
	border-right: 1mm solid #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 5px;
}

hgroup {
	height: 18px;
	overflow: hidden;
}

hgroup h2 {
	float: left;
	width: auto;
	font-size: 7pt;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	text-align: left;
	margin-right: 2px;
}

.price {
	text-align: center;
	width: 100%;
	float: left;
	margin: 1mm 0;
	font-weight: bold;
	position: absolute;
	bottom: 8.3mm;
	left: 0;
	right: 0;
	font-size: 11.5pt;
}

img {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	bottom: 0.5mm;
}

.size-3x8 {
	overflow: hidden;
}

.size-3x8 .page {
	border-top: 1.2cm solid #FFF;

}

.size-3x8 .label {
	width: 6.4cm;
	height: 3.5cm;
	margin-right: 2.5mm;
	padding: 5mm 0.5cm;
}

.size-3x8 .label .price {
	bottom: 1.5cm;
}

.size-3x8 .label img {
	width: 95%;	
	bottom: 5mm;
}


@media print {
    @page {
      size: A4;
      margin: 0;
    }

    .page {
        margin: 0;
		width: 210mm;
		height: 295mm;
        page-break-after: always;
        page-break-before: always;
        page-break-inside: avoid;
    }

    .label {
    	height: 21.35mm;
    }
}