<div class="topbar products">
	<ul class="tabs">
		<li class="active"><a href="{{ url('ms.commerce.product.edit', {productID:product.id}) }}" data-liv>Attributes</a></li>
		<li class=""><a href="{{ url('ms.commerce.product.edit.units', {productID:product.id}) }}" data-live>Units</a></li>
		<li class=""><a href="{{ url('ms.commerce.product.edit.stock', {productID:product.id}) }}" data-live>Stock</a></li>
		<li class=""><a href="{{ url('ms.commerce.product.edit.images', {productID:product.id}) }}" data-live>Images</a></li>
	</ul>
</div>
