<div class="topbar products">
	<ul class="tabs">
		<li class="active">
			<a href="{{ url('ms.commerce.product.edit', {productID:productID}) }}" data-liv>Attributes</a>
		</li>
		<li class="">
			<a href="{{ url('ms.commerce.product.edit.units', {productID:productID}) }}" data-live>Units</a>
		</li>
		<li class="">
			<a href="{{ url('ms.commerce.product.edit.stock', {productID:productID}) }}" data-live>Stock</a>
		</li>
		<li class="">
			<a href="{{ url('ms.commerce.product.edit.images', {productID:productID}) }}" data-live>Images</a>
		</li>
	</ul>
</div>
