{% extends 'Message:Mothership:ControlPanel::modal:standard' %}

{% block title 'ms.commerce.product.units.barcode.modal-title'|trans %}
{% block id 'barcode-modal' %}
{% block attr 'style="display:none;"' %}
{% block content %}
	{{ form_start(form, {attr: {id: 'barcode-form'}}) }}
		<div id="barcode-content">{{ form_rest(form) }}</div>
		<button class="button small save form-submit right">{{'ms.commerce.product.button.continue'|trans}}</button>
	{{ form_end(form) }}
{% endblock %}