{% extends '::order:detail:view' %}

{% block order_content %}

	<section class="container-content">
		<section class="repeatable-group">
			{% if not payments is empty %}
				{% for payment in payments %}
					{% include '::order:detail:payment:detail' %}
				{% endfor %}
			{% else %}
				{{ 'ms.commerce.order.payment.none'|trans }}
			{% endif %}
		</section>
	</section>
{% endblock %}