{% extends 'Message:Mothership:Commerce::order:listing:view' %}

{% block main %}
	<div class="dashboard">
		<div class="modules">
			{% for reference in dashboardReferences %}
				{{ render(controller(reference.reference, reference.params)) }}
			{% endfor %}
		</div>
	</div>
{% endblock %}