{% extends 'Message:Mothership:Commerce::order:listing:view' %}

{% block main %}
	<hgroup class="title">
		<h1>{{ heading }}</h1>
	</hgroup>

	<div class="container-content">
		{% set orderLink = 'ms.commerce.order.detail.view' %}
		{% set userLink = 'ms.cp.user.admin.detail.edit' %}
		{% include 'Message:Mothership:Commerce::order:order:summary' %}
	</div>
{% endblock %}