{% extends '::order:detail:view' %}

{% block order_content %}
	<div class="container-content short">
		{% include 'Message:Mothership:Commerce::order:order:detail' %}
		{% include 'Message:Mothership:Commerce::order:detail:item:summary' %}
			{% if order is defined %}
				<tfoot class="total-summary">
					<tr>
						<th colspan="4">Subtotal</th>
						<td>{{ order.getProductGross()|price(order.currencyID) }} </td>
						<td></td>
					</tr>
					<tr>
						<th colspan="4">
							Shipping
							{% if order.shippingDisplayName %}<em>({{ order.shippingDisplayName }})</em>{% endif %}
						</th>
						<td>{{ order.shippingGross|price(order.currencyID) }}</td>
						<td></td>
					</tr>
					<tr>
						<th colspan="4">Grand Total</th>
						<td>{{ order.getTotalGross()|price(order.currencyID) }}</td>
						<td></td>
					</tr>
				</tfoot>
			{% endif %}
			</table>
		</section>
	</div>
{% endblock %}
