{% extends '::order:detail:view' %}

{% block order_content %}
	<div class="container-content">
		<section class="repeatable-group">
			{% include '::order:order:detail' %}
		</section>

		<section class="summary">
			{% include '::order:detail:item:summary' %}
		</section>

		<section class="summary">
			{% include '::order:detail:address:summary' %}
		</section>

		<section class="summary">
			{% include '::order:detail:metadata:summary' %}
		</section>
	</div>
{% endblock %}