{% extends '::order:detail:view' %}

{% block order_content %}
	<div class="container-content short">
		{% include '::order:order:detail' %}
			{% include '::order:detail:item:summary' %}
			{% if order is defined %}
				<tfoot class="total-summary">
					<tr>
						<th colspan="4">Subtotal</th>
						<td>{{ order.productGross|price(order.currencyID) }}</td>
					</tr>
					<tr>
						<th colspan="4">Shipping ({{ order.shippingDisplayName }} )</th>
						<td>{{ order.shippingGross|price(	order.currencyID) }}</td>
					</tr>
					<tr>
						<th colspan="4">Grand Total</th>
						<td>{{ order.totalGross|price(order.currencyID) }}</td>
					</tr>
				</tfoot>
			{% endif %}
			</table>
		</section>
	</div>
{% endblock %}
