{% extends '::order:detail:view' %}

{% block order_content %}

	<div class="container-content">

			{% include '::order:order:detail' %}

		<section class="summary">
			{% include '::order:detail:item:summary' %}

			<ul class="summary-totals"><li>Subtotal <span>{{ order.productGross|price(order.currencyID) }}</span></li>
			<li>Shipping ({{ order.shippingDisplayName }} ) <span>{{ order.shippingGross|price(order.currencyID) }}</span></li>
			<li>Grand Total <span>{{ order.totalGross|price(order.currencyID) }}</span> </li></ul>
		</section>
	</div>

{% endblock %}